<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 30px;">
    @for(item of products;track item.id){
    <div class="col">
      <div class="card h-100">
        <img src="{{item.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">price : ${{item.price}}</p>
          <a routerLink="{{item.id}}" class="btn btn-primary">Load more</a>
        </div>
      </div>
    </div>
}
  </div>