<footer class="footer mt-auto py-3">
    <img src="../../../assets/footer.jpg" class="card-img" alt="..." width="100%">
    <div class="container">
        <div class="card text-dark bg-light">
            
            <div class="card-img-overlay">
                
                <div class="row">
                    <div class="col-md-4 text-left">
                        <span class="text-muted">Email: commerce&#64;gmail.com</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <span class="text-muted">E-Commerce site</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="text-muted">Contact: 9087898976</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>