<h3>E-COMMERCE</h3>
<app-carousel></app-carousel>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, dolorem facere autem nulla, nisi consequuntur quam debitis sequi dolor voluptate architecto earum inventore perferendis nam, at molestias temporibus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo perferendis tempore non corporis placeat ipsam eum doloribus cum excepturi. Cupiditate similique earum modi expedita rem facere velit sequi natus itaque?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quia aperiam accusamus sunt sint inventore saepe cupiditate. Laborum accusantium facilis quis, iusto omnis delectus mollitia quia, ut eos eum blanditiis?
</P>
